body {
  font-family: 'Arial', sans-serif;
  background-color: yellow;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: yellow;
  color: white;
}

.employee-form #name,
.employee-form #email,
.employee-form #phone,
.employee-form #position,
.employee-form #employeeId {
  background-color: yellow;
  transition: background-color 0.3s ease;
  width: 96%;
}

.employee-form #name:hover,
.employee-form #email:hover,
.employee-form #phone:hover,
.employee-form #position:hover,
.employee-form #employeeId:hover {
  background-color: yellow;
}

.employee-form,
.employee-list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  font-weight: bolder;
  color: #282c34;
}

.employee-form h2,
.employee-list h2 {
  margin-top: 0;
}

.employee-form label,
.employee-list label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.employee-form input,
.employee-form select,
.employee-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
}

.employee-form fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  width: 96%;
}

.employee-form legend {
  font-weight: bold;
  color: black;
}

.image-preview,
.employee-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

.employee-list ul {
  list-style-type: none;
  padding: 0;
}

.employee-list li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-list li div {
  flex-grow: 1;
}

.employee-list button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.employee-list button:hover {
  background-color: #282c34;
}


.employee-form button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.employee-form button:hover {
  background-color: #282c34 ;
}

.employee-form input[type="file"] {
  border: none;
}

.gender-container {
  display: flex; 
   align-items: center; 
 } 

.radio-wrapper {
  display: flex; 
  align-items: center; 
  margin-right: 80px;  
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px; 
  border-radius: 50%; 
  border: 2px solid #ccc; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 5px; 
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: yellow;
  border-color: yellow; 
}

input[type="radio"]:hover {
  background-color: lightyellow; 
} 







